<div class="admin-container">
    <div class="card" style="width: 18rem;"  [routerLink]="['vehicle']">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.S7zvYujtOd9uaG-ra96VaAHaEr?w=295&h=186&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-text text-center">Vehicle</h1>
        </div>
      </div>
      <div class="card ml-3 mr-3" style="width: 18rem;" [routerLink]="['terminal']">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.b8v5VkbUrLpqZAws9TUXpgHaEK?w=333&h=187&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-text text-center" >Terminal</h1>
        </div>
      </div>
      <div class="card" style="width: 18rem;"  [routerLink]="['workitems']">
        <img class="card-img-top" src="https://th.bing.com/th/id/OIP.xb37pk1ouxqqkCHJKv3ZLQHaE8?w=240&h=180&c=7&r=0&o=5&pid=1.7" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-text text-center">Work Items</h1>
        </div>
      </div>
</div>
