<!-- <app-vehicles></app-vehicles> -->
<div class="panel panel-primary">
    <form class="login-form" [formGroup]="loginForm" #myForm="ngForm">
      <h1 background-color: #3604aa; style="color: #0c0c0c">Fetch Vehicles By Name</h1>
  
      <span>Enter Vehicle Name</span>
      <input type="text" formControlName="vehicleName" class="form-control" />
  
      <!-- <div *ngIf="loginForm.controls['vehicleName'].invalid">
         <div *ngIf="loginForm.controls['vehicleName'].errors.required" style="color:red">
          Please Enter Vehicle Name.
        </div> 
      </div> -->
  <br/>
      <button [disabled]="!myForm.valid" (click)="viewVehicles()" type="submit">Get Details</button>
  
      <div>
        <br />
      </div>
  
      <span *ngIf="!showVehicles"
        style="color: #29873e;padding-left:20px;padding-right: 10px;padding-top: 20px;padding-bottom: 20px;font-family:monospace;font-size: 20px;">{{sucessMessage}}</span>
  
      <div *ngIf="showVehicles" class="container">
        <table class="table table-striped" border="1">
            <thead>
              <tr>
                <th>Vehicle Number</th>
                <th>Vehicle Name</th>
                <th>Max Lifting Capacity</th>
                <th>Retiring Date</th>
                <th>Vehicle Status</th>
                <th>Harbour Location</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of vehicles;index as i">
                <td>{{ data.vehicleNumber}}</td>
                <td>{{ data.vehicleName  }}</td>
                <td>{{ data.maxLiftingCapacity }}</td>
                <!-- <td>{{ vehicles[i]['maxLiftingCapacity(In Tons)']}}</td> -->
                <td>{{ data.retireDate  }}</td>
                <td>{{ data.vehicleStatus  }}</td>
                <td>{{ data.harborLocation  }}</td>
                <td>{{ data.country  }}</td>
              </tr>
            </tbody>
          </table>
      </div>
  
    </form>
  </div>
