<div class="update-container">
    <div class="form-container">
        <p class="form-heading">Update workitem status to Complete</p>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="inner-container form-group">
                <label for="workitemId">Workitem Id</label>
                <input id="workitemId" formControlName="workitemId" class="form-control" />
                <p *ngIf="updateForm.controls['workitemId'].touched&&updateForm.controls['workitemId'].errors?.['required']" class="error-message"> 
                    *This field is required!
                </p>
                <p *ngIf="updateForm.controls['workitemId'].touched&&updateForm.controls['workitemId'].errors?.['maxlength']" class="error-message">
                *Maximum 5 characters are allowed.
                </p>
            </div>
            <div class="button-container"> 
                <button type="submit" class="btn btn-success" [disabled]="!updateForm.valid">Assign</button>
                <button class="btn btn-info" (click)="onBack()">Back</button>
            </div>
            <br/>
            <span class="success-message" *ngIf="successMessage!=null">
                {{successMessage}}
            </span>
            <span class="error-message" *ngIf="errorMessage!=null">
                {{errorMessage}}
            </span>
        </form>
    </div>
</div>