<div >

    <button  [routerLink]='["/insert"]' class="navbar-brand">Insert New Vehicle</button>
    
    <button  [routerLink]='["/fetchAll"]' class="navbar-brand"> Fetch All Available Vehicle Details</button>
    
    <button  [routerLink]='["/fetchByName"]' class="navbar-brand">Fetch vehicles By Name</button>
    
    <button  [routerLink]='["/fetchByNumber"]' class="navbar-brand">Fetch Vehicle By Number</button>
    
    <button  [routerLink]='["/delete"]' class="navbar-brand" >Delete Vehicle</button>
    
    <button  [routerLink]='["/update"]' class="navbar-brand" >Update Vehicle Status</button>
    
    
    </div>